*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/*overflow: hidden;*/
}

body {
	background-image: linear-gradient(to right, rgba(152,255,253,0), rgba(61,204,201,1));
}

#sloganContainer {
  background-image: url("../images/neongreen-large.jpg"); /* The image used - important! */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}

.text-cutout {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 80%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/*.container {
	width: 100%;
	overflow: hidden;
	position: static;
}*/

/*landing page*/
#landing-slogan {
	width: 50vw;
	height: 100vh;
	float: left;
	position: relative;
}

#landing-slider {
	width: 48vw;
	height: 100vh;
	float: right;
	overflow: scroll;
	scroll-behavior: smooth;
}

#landing-slogan-title {
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
	/*height: 200px;*/
	width: 400px;
	border: solid 2px black;
	padding: 60px 80px 60px 80px;
	text-align: center;
}

#landing-slider > a > div {
	text-align: center;
	height: 24vh;
	line-height: 24vh;
}

#landing-slider > a > .landing-svgs > svg {
	height: 20px;
	width: 20px;
}

/*end of landing page*/

/*about page*/

/*end of about page*/

#asdasd {
	height: 100vh;
	overflow-y: scroll; 
}

#cashcart,
#chasetech,
#malayan {

}

/*.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}
</style>
</head>
<body>

<h2>Fade in Overlay Icon</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">
  <a href="#" class="icon" title="User Profile">
    <i class="fa fa-user"></i>
  </a>
  </div>
</div>*/